{{ 'landing-page-styles.css' | asset_url | stylesheet_tag }}
{{ 'landing-page-sub-styles.scss.css' | asset_url | stylesheet_tag }}
{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'slick-theme.css' | asset_url | stylesheet_tag }}
{{ 'slick.min.js'  | asset_url | script_tag }}
{{ 'custom.css' | asset_url | stylesheet_tag }}

{% assign tagline = section.settings.tagline %}
{% if section.settings.tagline-sub != blank %}
    {% assign tagline-sub = section.settings.tagline-sub %}
{% else %}
    {% assign tagline-sub = tagline %}
{% endif %}
{% assign pack-count = section.settings.pack-count %}

{% assign gradient_default = "background-image: linear-gradient(to right, #ffbfb4 0%, #ff91b3 50%, #c8b0ff 100%);" %}
{% capture bg-default %}color: #fecdc6; {{gradient_default}}{% endcapture %}


{%- assign first_variant = product.selected_or_first_available_variant -%}
{%- assign variants_count = product.variants.size -%}
{%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
{%- assign product_description_content = product.description -%}

{%- assign sold_out = true -%}
{%- if product.available -%}
	{%- assign sold_out = false -%}
{%- endif -%}

<section class="plp-hero" id="featuredProduct" data-section-id="{{ section.id }}" data-section-type="product">
    <div class="container container-full plp-product-details">
        <div class="row">
            <div class="column col-sm-6 col-xs-12 plp-hero-prod-img">
						<div class="prod-img-slider{% if product.media.size == 1 %} prod-img-slider--single{% endif %}" data-product-single-media-group>
							<div class="js-prod-img-slider js-prod-img-container" id="js-prod-img-slider--{{ section.id }}" data-lightbox="{{ lightbox }}" data-dots="{{ dots }}" data-arrows="{{ arrows }}" data-product-single-media-slider>
								{%- comment -%} Show Featured media first {%- endcomment -%}
								{%- for media in product.media -%}
									{%- if media.id == featured_media_id -%}
										{%- include 'media', media: media, featured_media: featured_media -%}
									{%- endif -%}
								{%- endfor -%}

								{%- comment -%} Loop product media skipping the featured {%- endcomment -%}
								{%- for media in product.media -%}
									{%- if media.id != featured_media_id -%}
										{%- include 'media', media: media, featured_media: featured_media -%}
									{%- endif -%}
								{%- endfor -%}
							</div>
						</div>

						{%- if product.media.size > 1 -%}
							<div class="prod-img-slider-nav js-prod-img-slider-nav" data-product-single-media-thumbs>
								{%- comment -%} Show Featured media thumbnail first {%- endcomment -%}
								{%- for media in product.media -%}
									{%- if media.id == featured_media_id -%}
										{%- include 'media-thumb' -%}
									{%- endif -%}
								{%- endfor -%}

								{%- comment -%} Loop product media thumbnails skipping the featured {%- endcomment -%}
								{%- for media in product.media -%}
									{%- if media.id != featured_media_id -%}
										{%- include 'media-thumb' -%}
									{%- endif -%}
								{%- endfor -%}
							</div>
						{%- endif -%}
            </div>
            <div class="column col-sm-6 col-xs-12 plp-hero-prod-details">
                <h2 class="prod-name">
                    {{ product.title }}
                </h2>
                <div class="prod-reviews">
                    <span>{{pack-count}}</span>
                    {%- comment -%}{{product.id}}{%- endcomment -%}
                    <div class="yotpo bottomLine"
                        data-product-id="{{product.id}}">
                        {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
                        {%- assign time_now = 'now' | date: '%s' %}
                        {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
                        {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
                        {%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.bottomline_update_time | date: '%s' %}
                        {%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
                        {%- if yotpo_live_time and diff_seconds_from_live < 86400 and yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
                        {%- assign yotpo_bottomline_obsolete = false %}
                        {%- else %}
                        {%- assign yotpo_bottomline_obsolete = true %}
                        {%- endif %}
                        {%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
                        {{ product.metafields.yotpo.bottomline }}
                        {%- endif %}
                    </div>
                </div>
                <div class="prod-description">
                    <div class="prod-description-content">{{product_description_content}}</div>
                    <a href="#pdpNutrition" class="prod-nutrition-chart-link active">View Nutritional Chart</a>
                </div>
                <div class="product-form-wrap">
                    {%- form 'product', product, class: 'productForm', data-product_id: product.id, data-productid: product.id -%}

                        {%- if first_variant.available -%}
                            {%- assign sold_out = false -%}
                        {%- else -%}
                            {%- assign sold_out = true -%}
                        {%- endif -%}

                        <div class="prod-attribute-select">
                            <div class="radio-container">
                                <h3>Flavors</h3>
                                <div class="radio row" id="product-variant-select">
                                    {%- for variant in product.variants -%}
                                    {% case variant.title %}
                                        {% when "Blackberry Lemon" %}
                                            {% assign var-bg = "#bfacc9" %}
                                        {% when "Grapefruit Melon" %}
                                            {% assign var-bg = "#fecdc6" %}
                                        {% when "Cran Raspberry" %}
                                            {% assign var-bg = "#ff91b3" %}
                                        {% else %}
                                            {% assign var-bg = "rgba(0,0,0,0)" %}
                                    {% endcase %}
                                    <input type="radio" name="variant" id="pvs-{{ variant.id }}" value="{{ variant.id }}"
                                        data-sku="{{variant.sku}}"
                                        data-productid="{{product.id}}"
                                        {% if variant == first_variant %}checked{% endif %}
                                        {% unless variant.available %}disabled="disabled"{% endunless %}/>
                                    <label for="pvs-{{variant.id}}"><span class="circle" style="--var-bg:{{var-bg}};{% if var-bg == 'rgba(0,0,0,0)' %} {{bg-default}}{% endif %}"></span>{{variant.title}}</label>
                                    {%- endfor -%}
                                </div>
                            </div>
											<select id="product-select" name="id">
												{%- for variant in product.variants -%}
													<option value="{{ variant.id }}" data-sku="{{variant.sku}}"
                                                        data-media-id="{{variant.featured_media.id}}"
														{% if variant == first_variant %}selected{% endif %}
														{% unless variant.available %}disabled="disabled"{% endunless %}
													>{{ variant.title }}</option>
												{%- endfor -%}
											</select>
                        </div>
                        <div class="prod-frequency-select">
                            <div class="radio-container">
                                <h3>Frequency</h3>
                                <!-- Begin ReCharge code -->
                                {% if product.available %}{% include 'subscription-product' %}{% endif %}
                                <!-- End ReCharge code -->
                            </div>
                        </div>
                        <div class="prod-quantity">
                            <div class="prod-quantity-wrap">
                                <div class="qty__adjust">
                                    <input type="number" id="quantity" name="quantity" value="1" min="1">
                                    <a href="#" class="qty__adjust-btn js-qty__adjust-btn decrease">{% include 'icon-minus' %}</a>
                                    <a href="#" class="qty__adjust-btn js-qty__adjust-btn increase">{% include 'icon-plus' %}</a>
                                </div>
                                <button class="btn btn-default productForm-submit js-productForm-submit {% if enable_payment_button %}add-to-cart-btn-style{% endif %}" data-ajax="{{ settings.enable_ajax_cart }}" type="submit" data-handle="{{product.handle}}" {% if sold_out %}disabled{% endif %}>
                                    {%- unless sold_out -%}
                                        {{- 'products.form.submit' | t -}}
                                    {% else %}
                                        {{- 'products.form.sold_out' | t -}}
                                    {%- endunless -%}
                                </button>
                            </div>
                        </div>
                        <div class="btn-tagline">{{tagline}}</div>
                        <div class="btn-tagline tagline-sub">{{tagline-sub}}</div>
                    {%- endform -%}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="yotpo yotpo-reviews-carousel" 
 data-background-color="transparent" 
 data-mode="top_rated" 
 data-type="site" 
 data-count="9" 
 data-show-bottomline="1" 
 data-autoplay-enabled="1" 
 data-autoplay-speed="3000" 
 data-show-navigation="1">&nbsp;</div>


{% render 'product-hm-nutrition', type: 'section', section: section, product: product, gradient_default: gradient_default %}

{% render 'product-hm-comparison', type: 'section', section: section %}

{% render 'product-hm-lifestyle', type: 'section', section: section %}

{% render 'product-hm-science', type: 'section', section: section %}

{% schema %}
    {
        "name": "Hydration Mix Settings",
        "class": "hydration-mix",
        "settings": [
            {
                "type": "header",
                "content": "Hero"
            },
            {
                "type": "text",
                "id": "pack-count",
                "label": "Pack Count",
                "default": "30 pack"
            },
            {
                "type": "text",
                "id": "tagline",
                "label": "ATC Tagline",
                "default": "Free shipping on all orders"
            },
            {
                "type": "text",
                "id": "tagline-sub",
                "label": "Subscription ATC Tagline",
                "info": "defaults to ATC Tagline if unset"
            },
            {
                "type": "header",
                "content": "Nutrition Section"
            },
            {
                "type": "url",
                "id": "ni-cta-url",
                "label": "CTA URL"
            },
            {
                "type": "text",
                "id": "ni-cta-text",
                "label": "CTA Text"
            },
            {
                "type": "header",
                "content": "Key Point 1"
            },
            {
                "type": "image_picker",
                "id": "ni-point1-icon",
                "label": "Key Point 1 Icon"
            },
            {
                "type": "text",
                "id": "ni-point1-headline",
                "label": "Key Point 1 Headline"
            },
            {
                "type": "textarea",
                "id": "ni-point1-content",
                "label": "Key Point 1 Content"
            },
            {
                "type": "header",
                "content": "Key Point 2"
            },
            {
                "type": "image_picker",
                "id": "ni-point2-icon",
                "label": "Key Point 2 Icon"
            },
            {
                "type": "text",
                "id": "ni-point2-headline",
                "label": "Key Point 2 Headline"
            },
            {
                "type": "textarea",
                "id": "ni-point2-content",
                "label": "Key Point 2 Content"
            },
            {
                "type": "header",
                "content": "Key Point 3"
            },
            {
                "type": "image_picker",
                "id": "ni-point3-icon",
                "label": "Key Point 3 Icon"
            },
            {
                "type": "text",
                "id": "ni-point3-headline",
                "label": "Key Point 3 Headline"
            },
            {
                "type": "textarea",
                "id": "ni-point3-content",
                "label": "Key Point 3 Content"
            },
            {
                "type": "header",
                "content": "Key Point 4"
            },
            {
                "type": "image_picker",
                "id": "ni-point4-icon",
                "label": "Key Point 4 Icon"
            },
            {
                "type": "text",
                "id": "ni-point4-headline",
                "label": "Key Point 4 Headline"
            },
            {
                "type": "textarea",
                "id": "ni-point4-content",
                "label": "Key Point 4 Content"
            },
            {
                "type": "header",
                "content": "Nutrition Info"
            },
            {
                "type": "header",
                "content": "Variety Pack Nutrition Info"
            },
            {
                "type": "text",
                "id": "ni-cal-ps-vp",
                "label": "Calories per serving",
                "default": "20"
            },
            {
                "type": "text",
                "id": "ni-fat-ps-vp",
                "label": "Fat per serving",
                "default": "0"
            },
            {
                "type": "text",
                "id": "ni-fat-dv-vp",
                "label": "Fat daily value",
                "default": "0%"
            },
            {
                "type": "text",
                "id": "ni-sodium-ps-vp",
                "label": "Sodium per serving",
                "default": "350mg"
            },
            {
                "type": "text",
                "id": "ni-sodium-dv-vp",
                "label": "Sodium daily value",
                "default": "15%"
            },
            {
                "type": "text",
                "id": "ni-tcarb-ps-vp",
                "label": "Total Carbohydrates per serving",
                "default": "5g"
            },
            {
                "type": "text",
                "id": "ni-tcarb-dv-vp",
                "label": "Total Carbohydrates daily value",
                "default": "2%"
            },
            {
                "type": "text",
                "id": "ni-totalsugar-ps-vp",
                "label": "Total sugars per serving",
                "default": "4g"
            },
            {
                "type": "text",
                "id": "ni-totalsugar-dv-vp",
                "label": "Total sugars daily value"
            },
            {
                "type": "text",
                "id": "ni-addedsugar-ps-vp",
                "label": "Added sugar per serving",
                "default": "4g"
            },
            {
                "type": "text",
                "id": "ni-addedsugar-dv-vp",
                "label": "Added sugar daily value",
                "default": "8%"
            },
            {
                "type": "text",
                "id": "ni-protein-ps-vp",
                "label": "Protein per serving",
                "default": "0g"
            },
            {
                "type": "text",
                "id": "ni-protein-dv-vp",
                "label": "Protein daily value",
                "default": "0%"
            },
            {
                "type": "text",
                "id": "ni-potassium-ps-vp",
                "label": "Potassium per serving",
                "default": "150mg"
            },
            {
                "type": "text",
                "id": "ni-potassium-dv-vp",
                "label": "Potassium daily value",
                "default": "4%"
            },
            {
                "type": "text",
                "id": "ni-magnesium-ps-vp",
                "label": "Magnesium per serving",
                "default": "70mg"
            },
            {
                "type": "text",
                "id": "ni-magnesium-dv-vp",
                "label": "Magnesium daily value",
                "default": "15%"
            },
            {
                "type": "text",
                "id": "ni-zinc-ps-vp",
                "label": "Chloride per serving",
                "default": "430mg"
            },
            {
                "type": "text",
                "id": "ni-zinc-dv-vp",
                "label": "Chloride daily value",
                "default": "20%"
            },
            {
                "type": "richtext",
                "id": "ingredients-vp",
                "label": "Ingredients"
            },
            {
                "type": "header",
                "content": "Blackberry Lemon Nutrition Info"
            },
            {
                "type": "richtext",
                "id": "ingredients-bl",
                "label": "Ingredients"
            },
            {
                "type": "header",
                "content": "Grapefruit Melon Nutrition Info"
            },
            {
                "type": "richtext",
                "id": "ingredients-gm",
                "label": "Ingredients"
            },
            {
                "type": "header",
                "content": "Cran Raspberry Nutrition Info"
            },
            {
                "type": "richtext",
                "id": "ingredients-cr",
                "label": "Ingredients"
            },
            {
                "type": "header",
                "content": "Nutrition Selling Points"
            },
            {
                "type": "text",
                "id": "ni-s-point1-text",
                "label": "Selling Point 1"
            },
            {
                "type": "image_picker",
                "id": "ni-s-point1-icon",
                "label": "Selling Point 1 Icon"
            },
            {
                "type": "text",
                "id": "ni-s-point2-text",
                "label": "Selling Point 2"
            },
            {
                "type": "image_picker",
                "id": "ni-s-point2-icon",
                "label": "Selling Point 2 Icon"
            },
            {
                "type": "text",
                "id": "ni-s-point3-text",
                "label": "Selling Point 3"
            },
            {
                "type": "image_picker",
                "id": "ni-s-point3-icon",
                "label": "Selling Point 3 Icon"
            },
            {
                "type": "header",
                "content": "Product Comparison"
            },
            {
                "type": "url",
                "id": "compare-cta-url",
                "label": "CTA URL"
            },
            {
                "type": "text",
                "id": "compare-cta-text",
                "label": "CTA Text"
            },
            {
                "type": "text",
                "id": "compare-headline",
                "label": "Headline",
                "default": "Not all hydration is created equal"
            },
            {
                "type": "image_picker",
                "id": "compare-other-image",
                "label": "Other Brand Image"
            },
            {
                "type": "text",
                "id": "compare-other-calories",
                "label": "Calories",
                "default": "45"
            },
            {
                "type": "text",
                "id": "compare-other-sugar",
                "label": "Sugar",
                "default": "11g"
            },
            {
                "type": "text",
                "id": "compare-other-electrolytes",
                "label": "Electrolytes",
                "default": "875mg"
            },
            {
                "type": "image_picker",
                "id": "compare-basis-image",
                "label": "Basis Brand Image"
            },
            {
                "type": "text",
                "id": "compare-basis-calories",
                "label": "Calories",
                "default": "25"
            },
            {
                "type": "text",
                "id": "compare-basis-sugar",
                "label": "Sugar",
                "default": "4g"
            },
            {
                "type": "text",
                "id": "compare-basis-electrolytes",
                "label": "Electrolytes",
                "default": "1000mg"
            },
            {
                "type": "header",
                "content": "Lifestyle"
            },
            {
                "type": "url",
                "id": "lifestyle-cta-url",
                "label": "CTA URL"
            },
            {
                "type": "text",
                "id": "lifestyle-cta-text",
                "label": "CTA Text"
            },
            {
                "type": "text",
                "id": "lifestyle-headline",
                "label": "Headline"
            },
            {
                "type": "text",
                "id": "lifestyle-tagline",
                "label": "Tagline"
            },
            {
                "type": "image_picker",
                "id": "lpoint1-icon",
                "label": "Icon 1"
            },
            {
                "type": "text",
                "id": "lpoint1-title",
                "label": "Title 1"
            },
            {
                "type": "image_picker",
                "id": "lpoint2-icon",
                "label": "Icon 2"
            },
            {
                "type": "text",
                "id": "lpoint2-title",
                "label": "Title 2"
            },
            {
                "type": "image_picker",
                "id": "lpoint3-icon",
                "label": "Icon 3"
            },
            {
                "type": "text",
                "id": "lpoint3-title",
                "label": "Title 3"
            },
            {
                "type": "image_picker",
                "id": "lpoint4-icon",
                "label": "Icon 4"
            },
            {
                "type": "text",
                "id": "lpoint4-title",
                "label": "Title 4"
            },
            {
                "type": "image_picker",
                "id": "lpoint5-icon",
                "label": "Icon 5"
            },
            {
                "type": "text",
                "id": "lpoint5-title",
                "label": "Title 5"
            },
            {
                "type": "image_picker",
                "id": "lpoint6-icon",
                "label": "Icon 6"
            },
            {
                "type": "text",
                "id": "lpoint6-title",
                "label": "Title 6"
            },
            {
                "type": "image_picker",
                "id": "lpoint7-icon",
                "label": "Icon 7"
            },
            {
                "type": "text",
                "id": "lpoint7-title",
                "label": "Title 7"
            },
            {
                "type": "image_picker",
                "id": "lpoint8-icon",
                "label": "Icon 8"
            },
            {
                "type": "text",
                "id": "lpoint8-title",
                "label": "Title 8"
            },
            {
                "type": "header",
                "content": "Science Section"
            },
            {
                "type": "url",
                "id": "science-cta-url",
                "label": "CTA URL"
            },
            {
                "type": "text",
                "id": "science-cta-text",
                "label": "CTA Text"
            },
            {
                "type": "header",
                "content": "Science Block 1"
            },
            {
                "type": "text",
                "id": "science-s1-headline",
                "label": "Headline"
            },
            {
                "type": "textarea",
                "id": "science-s1-copy",
                "label": "Content"
            },
            {
                "type": "header",
                "content": "Science Block 2"
            },
            {
                "type": "image_picker",
                "id": "science-s2-i1-icon",
                "label": "Info 1 Icon"
            },
            {
                "type": "text",
                "id": "science-s2-i1-headline",
                "label": "Info 1 Headline"
            },
            {
                "type": "textarea",
                "id": "science-s2-i1-copy",
                "label": "Info 1 Content"
            },
            {
                "type": "image_picker",
                "id": "science-s2-i2-icon",
                "label": "Info 2 Icon"
            },
            {
                "type": "text",
                "id": "science-s2-i2-headline",
                "label": "Info 2 Headline"
            },
            {
                "type": "textarea",
                "id": "science-s2-i2-copy",
                "label": "Info 2 Content"
            }
        ]
    }
{% endschema %}

<style>
html {
    scroll-behavior: smooth;
}
header .container {
    display: block;
    position: relative;
    margin: 0rem auto;
    max-width: 100%;
    width: calc(100% - 80px);
    padding-left: 40px;
    padding-right: 40px;
    z-index: 0;
}
@media (max-width: 1023px)
{
    .js-menuToggle.menuToggle {
        display: block;
    }
    header .container {
        width: 100%;
    }
}
@media (max-width: 549px)
{
    header .container {
        padding: 0 20px;
    }
}
@media (min-width: 1024px)
{
.template-product .nav-standard.nav-main {
    display: flex;
}
}
.template-product .prod-reviews .stars {
    color: #000;
}
.template-product .plp-hero-prod-img {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}
.prod-img-slider-nav {
    width: 80px;
}
.prod-img-slider-nav img {
    width: 100%;
}
.prod-img-slider {
    width: calc(100% - 120px);
    order: 2;
}
.prod-img-slider .product-image {
    padding: 5px;
}
.prod-img-slider-nav .js-slide.product-single__media-thumb .product-single__thumbnail-img {
    border-radius: 10px;
    border: 2px solid #eff0f2;
    background-color: #e2ded6;
}
.template-product .prod-quantity-wrap .btn-default.productForm-submit svg {
    width: 1em;
    height: 1em;
}

.prod-frequency-select {
    max-width: 540px;
}
.prod-frequency-select #rc_radio_options {
  display: flex;
  font-size: 12px;
  color: #191c22;
}
.prod-frequency-select #rc_radio_options .rc_block__type__onetime {
  order: 2;
}
.prod-frequency-select #rc_radio_options label {
  font-size: inherit;
}
.prod-frequency-select #rc_radio_options input.rc_radio {
  -webkit-appearance: none;
  padding: 2px;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
  background: white;
  height: auto;
  width: auto;
}
.prod-frequency-select #rc_radio_options input.rc_radio:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: white;
  line-height: 1;
  border-radius: 50%;
}
.prod-frequency-select #rc_radio_options  input.rc_radio:checked:before {
  background: black;
}
.prod-frequency-select #rc_radio_options #rc_autodeliver_options {
  /*display: none;*/
}

.rc_select__frequency.styled {
  padding: .25rem 1.5rem .25rem .25rem;
  border: 1px solid black;
  align-self: center;
  background-position-x: right;
  background-size: 1.25rem;
  border-radius: 6px;
}
.rc_label__delivery {
  align-self: center;
}
.rc_label.rc_label__deliver_every {
  padding: 0 0 0 .25rem;
}
#featuredProduct > .container {
  max-width: 90rem;
}

.prod-frequency-select #rc_container .rc_popup {
  display: none;
}
.prod-frequency-select #rc_radio_options div.rc_block__type--active {
  background: none;
}
.prod-frequency-select #rc_radio_options .rc_block__type--active label.rc_label {
    color: inherit;
}
#rc_radio_options .rc_block .rc_label {
  display: inline-flex !important;
  flex-wrap: wrap;
  line-height: normal !important;
  vertical-align: middle;
  margin-top: .25rem;
  margin-bottom: .25rem;
  font-weight: 300;
}
#rc_radio_options .rc_block .rc_label .rc_price {
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  order: -1;
}
#rc_radio_options .rc_block .rc_label .rc_label__discount {
  margin-left: 3px;
}
.prod-img-slider .slick-slider .slick-dots li {
  margin-left: .25rem;
  margin-right: .25rem;
}
.prod-img-slider .slick-dots li button:before {
  height: 1px;
  font-size: 0;
  background: currentColor;
  color: #191c22;
  opacity: .15;
  width: 1rem;
}
.prod-img-slider .slick-dots li.slick-active button::before {
  opacity: 1;
  color: #191c22;
}
.prod-quantity-wrap .btn {
    padding: 18px;
}
.product-form-wrap .qty__adjust path {
    fill: black;
}
#product-variant-select label {
    font-weight: 300;
}
.plp-product-details .slick-vertical  {
    padding-bottom: 40px;
}
.plp-product-details .slick-vertical .slick-next.slick-arrow {
    right: 0;
    left: 0;
    top: auto;
    transform: translateY(0%) rotate(90deg);
    bottom: 0;
    margin: auto;
}
.plp-product-details .slick-vertical .slick-next.slick-arrow:before {
    color: #191c22;
}
.plp-product-details .slick-vertical .slick-prev.slick-arrow {
    display: none !important;
}
#niVariantSelect {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%228%22%20viewBox%3D%220%200%2014%208%22%3E%3Cg%3E%3Cg%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23191c22%22%20stroke-miterlimit%3D%2220%22%20stroke-width%3D%222%22%20d%3D%22M1%20.73v0l6%206v0l6-6v0%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: right center;
  background-position: right 1rem center;
}
.productForm.is-sub .btn-tagline:not(.tagline-sub) {
    display: none;
}
.productForm:not(.is-sub) .tagline-sub {
    display: none;
}

.section-cta-wrap {
    text-align: center;
}
.section-cta-wrap .btn {
    margin-top: 1rem;
    margin-bottom: 0;
}
.pdp-science .section-cta-wrap .btn {
    margin-bottom: 1rem;
}
.rc_label.rc_label__autodeliver {
    width: calc(100% - 21px);
}
@media (max-width: 767px)
{
    .prod-img-slider-nav {
        display: none;
    }
    .prod-img-slider {
        width: 100%;
        max-width: 282px;
    }
    #featuredProduct {
        padding-top: 0;
    }
    .plp-product-details .prod-name {
        font-size: 24px;
        font-weight: 500;
        color: #191c22;
        letter-spacing: normal;
    }
    .prod-reviews {
        font-size: 1rem;
    }
    .plp-product-details .prod-description {
        color: #212027;
    }
    .prod-nutrition-chart-link {
        display: none;
    }
    #product-variant-select {
        display: none;
    }
    #product-select {
        display: block;
        color: inherit;
        border: 1px solid #191c22;
        border-radius: 4px;
        font-size: 12px;
        color: #191c22;
        font-weight: 300;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 30 8\" width=\"30\"><path fill=\"%23d1d1d1\" d=\"M0,0l6,8l6-8\"/></svg>");
        background-position: right center;
    }
    #rc_radio_options .rc_block .rc_label {
        text-align: left;
    }
    .prod-frequency-select #rc_radio_options input.rc_radio::before {
        width: 10px;
        height: 10px;
    }
    .radio-container div.rc_block__type {
        padding-top: 0;
    }
}
@media (min-width: 768px)
{
    #product-select {
        display: none;
    }
    .prod-img-slider .slick-dots {
        display: none !important;
    }
    .prod-quantity-wrap .qty__adjust {
        min-width: 110px;
    }
    #quantity {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .qty__adjust-btn.js-qty__adjust-btn.decrease {
        left: .25rem;
    }
    .qty__adjust-btn.js-qty__adjust-btn.increase {
        right: .25rem;
    }
    .prod-frequency-select #rc_radio_options input.rc_radio {
        margin-right: .75rem;
    }
    .rc_label.rc_label__autodeliver {
        width: calc(100% - 24px - .75rem);
    }

    .section-cta-wrap .btn {
        margin-top: 2rem;
    }
    .pdp-science .section-cta-wrap .btn {
        margin-bottom: 2rem;
    }
}
</style>
<script>
function pdpSetVariant(varID){
    $('#product-variant-select input[name="variant"][value="'+varID+'"]').prop('checked', true);
    $('#product-select').val(varID);
    $("#niVariantSelect").val(varID);
    var mediaID = $('#product-select').find(":selected").data('media-id');
    $(".prod-img-slider .slick-slider").slick('slickGoTo', $(".prod-img-slider .slick-slider .slick-slide[data-id="+mediaID+"]:not(.slick-cloned)").data('slick-index'));
    var shortName = $("#niVariantSelect option[value="+varID+"]").data('vsn');
    $("#pdpNutrition").removeClass('vp').removeClass('bl').removeClass('gm').removeClass('cr').addClass(shortName);
}
//$(".product-form-wrap form").on('change', '#product-select', function(e){

$('#product-variant-select input[name="variant"]').on('change', function(e){
    e.preventDefault();
    e.stopPropagation();
    pdpSetVariant($('#product-variant-select input[name="variant"]:checked').val());
});
$("#product-select").on('change', function(e){
    pdpSetVariant($(this).val());
});
function pdpSetCTAText(){
    $sel = $('.prod-frequency-select #rc_radio_options .rc_radio[name="purchase_type"]:checked');
    if($sel.val()=="autodeliver"){
        $sel.closest('form').addClass('is-sub').find('.productForm-submit').html('Subscribe now');
    } else {
        $sel.closest('form').removeClass('is-sub').find('.productForm-submit').html('Add to cart');
    }
}
$(".prod-frequency-select").on('change','#rc_radio_options .rc_radio[name="purchase_type"]', function(e){
    pdpSetCTAText();
});
pdpSetCTAText();
$('[data-section-id={{section.id}}] .js-prod-img-slider').slick({
    dots: true,
    arrows: false,
    slidesToShow: 1,
    slidesToScroll: 1,
    infinite: true,
    focusOnSelect: true,
    asNavFor: '[data-section-id={{section.id}}] .js-prod-img-slider-nav'
});
$('[data-section-id={{section.id}}] .js-prod-img-slider-nav').slick({
    dots: false,
    arrows: true,
    slidesToShow: 4,
    slidesToScroll: 1,
    infinite: true,
    vertical: true,
    verticalSwiping: true,
    focusOnSelect: true,
    asNavFor: '[data-section-id={{section.id}}] .js-prod-img-slider'
});
</script>