{%- include 'grid-logic' -%}

<section class="page-title container-wrap">
  <div class="container">
    <div class="row inline u-center">
      <h1>{{ 'search.content.title' | t }}</h1>
    </div>
  </div>
</section>
<section class="collectionGrid container-wrap">
  <div class="container">
    <div class="collectionGrid-nav{% unless search.performed %} collectionGrid-nav--center{% endunless %} collectionGrid-row row inline">
      {%- if search.performed -%}
        <div class="search-info block search-alert">
          <h3>
            {%- if search.results_count == 0 -%}{{ "search.content.no_results" | t: search: search.terms }}{%- else -%}{{ "search.content.has_results" | t: search: search.terms }}{%- endif -%}
          </h3>
        </div>
      {%- endif -%}

      <div class="collectionGrid-filter block s1 sm_s34 lg_s23">
        <form action="{{ routes.search_url }}" method="get" class="search-page-form clearfix" role="search">
          <input type="hidden" name="type" value="product" />
          <input type="hidden" name="options[prefix]" value="last" />
          <input name="q" type="search" id="search-field" value="{{ search.terms | escape }}" autofocus />
          <input type="submit" id="search-submit" class="button" value="{{ 'search.button.text' | t }}" />
        </form>
      </div>
    </div>
  </div>

    {%- if search.performed -%}
      {%- paginate search.results by 12 -%}
        <div class="collectionGrid-row EndlessScroll">
          {%- for product in search.results -%}
            {%- include 'product-grid-item' -%}
          {%- endfor -%}

          {%- if paginate.next -%}
            <div class="pagination u-center">
              <a href="{{ paginate.next.url }}" class="js-loadMore loadMore visually-hidden">{{ 'collections.pagination.load_more' | t }}</a>
              <div class="icon-load-more"></div>
            </div>
          {%- endif -%}
        </div>
      {%- endpaginate -%}
    {%- endif -%}
  </div>
</section>